{
	"application" : {
		"host" : "0.0.0.0",
		"port" : 5007,
		"debug" : false
	},
	"colors" : {
		"attachment" : "#28c12b"
	},
	"mattermost" : {
	    "url" : "https://mattermost.url",
        "webhook" : "defaultwebhookid",
		"post_user_name" : "JIRA",
		"post_user_icon" : ""
	},
	"jira" : {
		"url" : "http://jira.url:8080/"
	}
}
